<h1>Bootstrap starter template</h1>
<p class="lead">
    Use this document as a way to quickly start any new project.
    <br>
    All you get is this text and a mostly bare bones HTML document.
    <br><br>
    {{#isProduction}}This is a production page{{/isProduction}}
    {{^isProduction}}This is a development page{{/isProduction}}
</p>